<%- include ("./partials/header") %>

<div class = "container p-0">
	<div class = "d-flex flex-wrap">
		<%foundUser.movies.forEach(function(movie,i){ %>
		<div class="card col-12 col-md-3 p-0 mb-4">
			<div class = "imgContainer">
			  <img class="card-img-top img-fluid" src="<%=movie.Poster%>" alt="Responsive image">
			  <div class="middle"><div class="middleText">See More Movie Info</div></div>
			</div>
				<div class="card-body text-center">
					<h5 class="card-title"><%=movie.Title%></h5>
					  <% if(!movie.UserRating){ %>
							<caption><p>You haven't rated this movie yet!</p></caption>
						<%} else{ %>
							<caption><p>You gave this movie a <%=movie.UserRating%>/5 stars rating!</p></caption>
							<span n = "<%=parseInt(movie.UserRating)%>" class = "movieInfo text-center display-4"></span>
						<% } %>
					
							<form class="form-inline" action = "/users/<%=movie.User.id%>/<%=movie._id%>?_method=PUT" method = "POST">
							  <label type = "button" class="changeRating col-12 btn btn-light my-1 mr-2" for="inlineFormCustomSelectPref">Change Rating</label>
								  
								<div class = "form-group">
									<select type = "number" name = "userReview" class="inlineFormCustomSelectPref d-none mx-auto custom-select my-1 mr-sm-2" id="">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="">Haven't seen yet</option>
									  </select>
								</div>
									
							  <!-- <form onsubmit = "event.preventDefault(); myValidation();"> -->

								
							  <button type="submit" class="d-none btn btn-primary my-1">Confirm</button>
							</form>

										
					
					
						
					<!-- Trigger/Open The Modal -->
							<p class="myBtn mt-3 font-weight-bold">See More Movie Info</p>
							<form class = "movieRemoveForm movieRemoveForm<%=i + 1%>" action = "/users/<%=movie.User.id%>/<%=movie._id%>?_method=DELETE" method = "POST">
								<input  type = "submit" class = "sandpitRemove text-center" value ="REMOVE">
							</form>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary modalTest"  data-target=".removeMovieModal">
  Launch demo modal
</button> -->

<!-- Confirm Delete Modal -->
<div class="modal removeMovieModal removeMovieModal<%=i + 1%> fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to remove movie from sandpit?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" class="removeMovieNo btn btn-info" data-dismiss="modal">No</button>
        <button type="button" class="removeMovieYes btn btn-danger" >Yes</button>
      </div>
    </div>
  </div>
</div>
					
				
					
					 <!-- Movie Info Modal -->
						<div class="modal2">
						  Modal content
						  <div class="modal-content2">
								<div class = "d-flex flex-column align-items-center movieDetailsOuter">
									<div class="close">&times;</div>
									<div class = "movieDetails mt-2">
												<%if (movie.Trailer){ %>
												<div class = "d-flex justify-content-center mb-2 trailerOuterDiv">
													<iframe  width="400" height="400" src="<%=movie.Trailer%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
												<% } else{ %>
												<div class = "trailerOuterDiv noTrailer">
														No Trailer Available!	
												</div>
												<% } %>
												<div class = "d-flex sandpitRatings px-4">
													<div class = "col-4">
														<%=movie.IMDB%> <img class = "ratingsImage" src = "https://cdn.freebiesupply.com/images/thumbs/2x/imdb-logo.png">
													</div>
													<div class = "col-4">
														<%=movie.RottenTomatoes%> <img class = "ratingsImage" src = "https://www.indiewire.com/wp-content/uploads/2019/05/rt_logo_primary_rgb-h_2018.jpg">
													</div>
													<div class = "col-4">
														<%=movie.Metacritic%> <img class = "ratingsImage" src = "https://seekvectorlogo.com/wp-content/uploads/2020/06/metacritic-vector-logo.png">
													</div>
												</div>
										
												<div class = "d-flex movieInfo1 mt-3 px-4">
													<div class = "col-4 d-flex flex-column">
															<div>
																GENRE
															</div>
															<div>
																<%=movie.Genre%>
															</div> 
													</div>
													<div class = "col-4 d-flex flex-column">
															<div>
																RELEASE DATE
															</div>
															<div>
																<%=movie.Released%>
															</div> 
													</div>
													<div class = "col-4 d-flex flex-column">
															<div>
																Time
															</div>
															<div>
																<%=movie.Runtime%>
															</div> 
													</div>
												</div>
										
												<div class = "d-flex flex-column movieInfo2 mt-5 px-4">
															<div class = "flex-row">
																Plot
															</div>
															<div class = "flex-row">
																<p>
																	<%=movie.Plot%>
																</p>
															</div> 
												</div>
										
												<div class = "d-flex flex-row movieInfo3 mt-5 px-4">
															<div class = "col-6 d-flex">
																	<div class = "col">
																		Actors
																	</div>
																	<div class = "col">
																		<p>
																			<%=movie.Actors%>
																		</p>
																	</div> 
															</div>
															
															<div class = "col-6 d-flex">
																	<div class = "col">
																		Writers
																	</div>
																	<div class = "col">
																		<p>
																			<%=movie.Writer%>
																		</p>
																	</div> 
															</div>
													
												</div>
												
												<div class = "d-flex flex-column movieInfo4 px-4">
															<div class = "flex-row">
																Awards
															</div>
															<div class = "flex-row">
																<p>
																	<%=movie.Awards%>
																</p>
															</div> 
												</div>
										
												<div class = "d-flex movieInfo5 mt-3 px-4">
													<div class = "col-4 d-flex flex-column">
															<div>
																DIRECTED BY
															</div>
															<div>
																<%=movie.Director%>
															</div> 
													</div>
													<div class = "col-4 d-flex flex-column">
															<div>
																BOX OFFICE EARNINGS
															</div>
															<div>
																<%=movie.BoxOffice%>
															</div> 
													</div>
													<div class = "col-4 d-flex flex-column">
															<div>
																IMDB VOTES
															</div>
															<div>
																<%=movie.imdbVotes%>
															</div> 
													</div>
												</div>
							 		</div>
							  	</div>
							  	
								
						  </div>

						</div>
					
				</div>
		</div>
		<% }) %>
	</div>
	
</div>





<%- include ("./partials/footer") %>